body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 50px auto;

    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.colors{
    display: flex;
    flex-direction: column;
}
.color{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.color-picker{
    -webkit-appearance: none;
    background-color: transparent;
    border: 0px;
    height: 40px;
    min-width: 6em;
    cursor: pointer;
} 
.color-Id{
    margin: 4px;
    padding: 0;
    font-size: 1.4em;
    text-align: center;
    min-width: 6em;
}
.container-css-prop{
    position: relative;
    display:block ;
    min-width: 24.5em;
    min-height: 7em;
    border: solid 2px gray;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;
}

.resultColor{
    min-width: 24.5em;
    min-height: 10em;
    border: solid 2px gray;
    margin-bottom: 15px;
    
}
.click-option{
    box-sizing: content-box;
   position: absolute;
   padding: 0px;
   color: rgb(131, 131, 131);
   background-color: rgb(231, 229, 229); 
   text-align: center;
   bottom: 0;
   width:100%;
}
.result-content{
    padding: 0px;
    box-sizing: content-box;
}
.result-content textarea{
    border: none;
    margin: 0;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-align: center;
    resize : none;
}
#coppied{
    border-radius: 3px;
    border: solid 1px gray;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 1.4em;
    background: #bac5e9;
    width: 135px;
    height: 26px;
    position: relative;
    left: 1%;
    top: -31%;
    display: none;
    cursor: pointer;
}
.modal{
    height: 100vh;
    width: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    display: none;
}

@media only screen and (max-width: 420px) {

    .container-css-prop{
        min-width: 270px;
        width: auto !important;
    }
    .color{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .color-picker{
        width: 100%;
    }
    .resultColor{
        min-width: 270px;
        margin-bottom: 10px;
    }
}